<h1 class='text-center'>CFPBS Form</h1>

<h2 class='text-center'>Your Monthly Income</h2>

<div class='container'>
  <div class='form-inline row'>
    <div class='form-group'>
      <h3>Pre-Tax Income</h3>

      <%= form_tag("/create", method: 'post') do %>
        <%= label_tag(:pretax_income, "Your Income:") %>
        <%= text_field_tag(:pretax_income) %>
    </div><!--form-group-->
  </div><!--form-inline-->
  <div class='form-inline row'>
    <div class='form-group'>
        <%= label_tag(:pretax_coborrow_income, "Co-borrower's income:") %>
        <%= text_field_tag(:pretax_coborrow_income) %>
    </div><!--form-group-->
  </div><!--form-inline-->
  <div class='form-inline row'>
    <div class='form-group'>
        <%= label_tag(:pretax_income_total, "Total monthly pre-tax income:") %>
        <%= text_field_tag(:pretax_income_total) %>
    </div><!--form-group-->
  </div><!--form-inline-->
  <div class='form-inline row'>
   <div class='form-group'> 
      <h3>Take-Home Income</h3>
        <%= label_tag(:takehome_income, "Your Income:") %>
        <%= text_field_tag(:takehome_income) %>
    </div><!--form-group-->
  </div><!--form-inline-->
  <div class='form-inline row'>
    <div class='form-group'>
        <%= label_tag(:takehome_coborrower_income, "Co-borrower's income") %>
        <%= text_field_tag(:takehome_coborrower_income) %>
    </div><!--form-group-->
  </div><!--form-inline-->
  <div class='form-inline row'>
    <div class='form-group'>
        <%= label_tag(:takehome_income_total, "Total monthly take-home income") %>
        <%= text_field_tag(:takehome_income_total) %>
    </div><!--form-group-->
  </div><!--form-inline-->
   
  <div class='form-inline row'>
    <div class='form-group'>
      <h3>Monthly spending and savings</h3>
          <%= label_tag(:rent, "Rent:") %>
          <%= text_field_tag(:rent) %>
    </div><!--form-group-->
  </div><!--form-inline-->
  <div class='form-inline row'>
    <div class='form-group'>
          <%= label_tag(:utilities, "Utilities") %>
          <%= text_field_tag(:utilities) %>
    </div><!--form-group-->
  </div><!--form-inline-->
  <div class='form-inline row'>
    <div class='form-group'>
          <%= label_tag(:debt_payments, "Debt payments") %>
          <%= text_field_tag(:debt_payments) %>
    </div><!--form-group-->
  </div><!--form-inline-->
  <div class='form-inline row'>
    <div class='form-group'>
          <%= label_tag(:other_expenses, "Living & other expenses") %>
          <%= text_field_tag(:other_expenses) %>
    </div><!--form-group-->
  </div><!--form-inline-->
    <div class='form-inline row'>
      <div class='form-group'>
          <%= label_tag(:savings, "Savings") %>
          <%= text_field_tag(:savings) %>
    </div><!--form-group-->
      </div><!--form-inline-->
    <div class='form-inline row'>
      <div class='form-group'>
          <%= label_tag(:total_spendings, "Total monthly spendings and savings") %>
          <%= text_field_tag(:total_spendings) %>
    <div class='clearfix'></div>      
    <div class='form-inline row'>
      <div class='form-group'>
        <%= submit_tag("Submit", class: 'btn btn-lg btn-primary') %>
      </div><!--form-group-->
    </div><!--form-inline-->
      </div><!--form-group-->
    </div><!--form-inline-->

      <% end %>
  
          
</div><!--Container-->


