<h1 class='text-center'>CFPBS Form</h1>

<h2 class='text-center'>Your Monthly Income</h2>

<div class='container'>
  <div class='col-md-1'></div>
  <div class='col-md-4'>
    <div class='form-group'>
      <h3>Pre-Tax Income</h3>

      <%= form_tag("/create", method: 'post') do %>
        <div class='form-group row'>
          <%= label_tag(:pretax_income, "Your Income:") %>
          <%= text_field_tag(:pretax_income, '', class: 'form-control') %>
        </div>
        <div class='form-group row'>
          <%= label_tag(:pretax_coborrow_income, "Co-borrower's income:") %>
          <%= text_field_tag(:pretax_coborrow_income, '', class: 'form-control') %>
        </div>
    </div>

   <div class='form-group'> 
      <h3>Take-Home Income</h3>
        <div class='form-group row'>
          <%= label_tag(:takehome_income, "Your Income:") %>
          <%= text_field_tag(:takehome_income, '', class: 'form-control') %>
        </div>
        <div class='form-group row'>
          <%= label_tag(:takehome_coborrower_income, "Co-borrower's income") %>
          <%= text_field_tag(:takehome_coborrower_income, '', class: 'form-control') %>
        </div>
    </div>
  </div>
        <div class='col-md-2'></div>  
  <div class='col-md-4'>
    <div class='form-group'>
      <h3>Monthly spending and savings</h3>
          <div class='form-group row'>
            <%= label_tag(:rent, "Rent:") %>
            <%= text_field_tag(:rent, '', class: 'form-control') %>
          </div>
          <div class='form-group row'>
            <%= label_tag(:utilities, "Utilities") %>
            <%= text_field_tag(:utilities, '', class: 'form-control') %>
          </div>
          <div class='form-group row'>
            <%= label_tag(:debt_payments, "Debt payments") %>
            <%= text_field_tag(:debt_payments, '', class: 'form-control') %>
          </div>
          <div class='form-group row'>
            <%= label_tag(:other_expenses, "Living & other expenses") %>
            <%= text_field_tag(:other_expenses, '', class: 'form-control') %>
          </div>
          <div class='form-group row'>
            <%= label_tag(:savings, "Savings") %>
            <%= text_field_tag(:savings, '', class: 'form-control') %>
          </div>
        </div>
        </div>       
      <div class='col-md-1'></div>   
    <div class='col-md-12'>
          <div class = "row text-center">
            <br />
            <%= submit_tag("Submit", class: 'btn btn-primary btn-lg') %>
          </div>
    </div>
      <% end %>

  </div>    
 </div>


